USE [master]
GO
/****** Object:  Database [PlataformaCursosDB]    Script Date: 26/11/2025 13:18:53 ******/
CREATE DATABASE [PlataformaCursosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlataformaCursosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlataformaCursosDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlataformaCursosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlataformaCursosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlataformaCursosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlataformaCursosDB]
GO
/****** Object:  User [equipo9B]    Script Date: 26/11/2025 13:18:53 ******/
CREATE USER [equipo9B] FOR LOGIN [equipo9B] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [equipo9B]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](255) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificado]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificado](
	[CertificadoID] [int] IDENTITY(1,1) NOT NULL,
	[InscripcionID] [int] NOT NULL,
	[UrlArchivoCertificado] [varchar](500) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
 CONSTRAINT [PK_Certificado] PRIMARY KEY CLUSTERED 
(
	[CertificadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[CursoID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[UrlImagenPortada] [nvarchar](max) NULL,
	[ModalidadPago] [nvarchar](50) NOT NULL,
	[DuracionAccesoDias] [int] NOT NULL,
	[Publicado] [bit] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[NivelDificultad] [varchar](50) NULL,
	[Idioma] [varchar](50) NULL,
	[ConCertificado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoObjetivo]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoObjetivo](
	[ObjetivoID] [int] IDENTITY(1,1) NOT NULL,
	[CursoID] [int] NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CursoObjetivo] PRIMARY KEY CLUSTERED 
(
	[ObjetivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrega]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrega](
	[EntregaID] [int] IDENTITY(1,1) NOT NULL,
	[InscripcionID] [int] NOT NULL,
	[ExamenID] [int] NOT NULL,
	[UrlResolucion] [varchar](500) NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[DevolucionProfesor] [varchar](1000) NULL,
 CONSTRAINT [PK_Entrega] PRIMARY KEY CLUSTERED 
(
	[EntregaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCuenta]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCuenta](
	[EstadoCuentaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoCuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[ExamenID] [int] IDENTITY(1,1) NOT NULL,
	[CursoID] [int] NOT NULL,
	[UrlConsigna] [varchar](500) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[ExamenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[CursoID] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leccion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leccion](
	[LeccionID] [int] IDENTITY(1,1) NOT NULL,
	[ModuloID] [int] NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Orden] [int] NOT NULL,
	[TipoMaterial] [varchar](20) NOT NULL,
	[URLRecurso] [varchar](500) NULL,
	[DuracionMinutos] [int] NULL,
	[EstaActivo] [bit] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[UrlDocumento] [varchar](500) NULL,
 CONSTRAINT [PK_Leccion] PRIMARY KEY CLUSTERED 
(
	[LeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[ModuloID] [int] IDENTITY(1,1) NOT NULL,
	[CursoID] [int] NOT NULL,
	[NombreModulo] [varchar](100) NOT NULL,
	[Orden] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[ModuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[InscripcionID] [int] NOT NULL,
	[Monto] [money] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[UrlComprobante] [varchar](500) NULL,
	[FechaPago] [datetime] NULL,
	[Observaciones] [varchar](500) NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[PerfilID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[UrlFotoPerfil] [varchar](1024) NULL,
	[Localidad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgresoLeccion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgresoLeccion](
	[ProgresoID] [int] IDENTITY(1,1) NOT NULL,
	[InscripcionID] [int] NOT NULL,
	[LeccionID] [int] NOT NULL,
	[FechaCompletado] [datetime] NOT NULL,
 CONSTRAINT [PK_ProgresoLeccion] PRIMARY KEY CLUSTERED 
(
	[ProgresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[RolID] [int] NOT NULL,
	[EstadoCuentaID] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaUltimoLogin] [datetime] NULL,
	[FechaBaja] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioTokens]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Token] [varchar](50) NOT NULL,
	[TipoToken] [int] NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadosCuenta] ON 

INSERT [dbo].[EstadosCuenta] ([EstadoCuentaID], [NombreEstado]) VALUES (2, N'Activo')
INSERT [dbo].[EstadosCuenta] ([EstadoCuentaID], [NombreEstado]) VALUES (4, N'DadoDeBaja')
INSERT [dbo].[EstadosCuenta] ([EstadoCuentaID], [NombreEstado]) VALUES (1, N'PendienteActivacion')
SET IDENTITY_INSERT [dbo].[EstadosCuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([PerfilID], [UsuarioID], [Nombre], [Apellido], [UrlFotoPerfil], [Localidad]) VALUES (4, 5, N'Maxi', N'Programa', N'~/Assets/Avatares/5.png', N'Buenas Aires')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (2, N'Participante')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [Email], [PasswordHash], [EstaActivo], [RolID], [EstadoCuentaID], [FechaCreacion], [FechaUltimoLogin], [FechaBaja]) VALUES (5, N'admin@admin.com', N'ANg4toZQ3wm8pNvu+Lpb6cIlaIGI5GofkBsPEgVs5IYhIYFddZ99sVO5OV2xJtU+EQ==', 1, 1, 2, CAST(N'2025-11-16T16:48:20.240' AS DateTime), CAST(N'2025-11-26T13:04:59.077' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosC__6CE50615FC3B3349]    Script Date: 26/11/2025 13:18:54 ******/
ALTER TABLE [dbo].[EstadosCuenta] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Perfil__2B3DE799E802D357]    Script Date: 26/11/2025 13:18:54 ******/
ALTER TABLE [dbo].[Perfil] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__4F0B537F3951F7FF]    Script Date: 26/11/2025 13:18:54 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534E5147883]    Script Date: 26/11/2025 13:18:54 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UsuarioT__1EB4F817C8ED7DC2]    Script Date: 26/11/2025 13:18:54 ******/
ALTER TABLE [dbo].[UsuarioTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Certificado] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((0)) FOR [DuracionAccesoDias]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((0)) FOR [Publicado]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((1)) FOR [ConCertificado]
GO
ALTER TABLE [dbo].[Entrega] ADD  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[Entrega] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Examen] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Leccion] ADD  DEFAULT ((0)) FOR [DuracionMinutos]
GO
ALTER TABLE [dbo].[Leccion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Modulo] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[ProgresoLeccion] ADD  DEFAULT (getdate()) FOR [FechaCompletado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[UsuarioTokens] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Certificado]  WITH CHECK ADD  CONSTRAINT [FK_Certificado_Inscripcion] FOREIGN KEY([InscripcionID])
REFERENCES [dbo].[Inscripcion] ([InscripcionID])
GO
ALTER TABLE [dbo].[Certificado] CHECK CONSTRAINT [FK_Certificado_Inscripcion]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Categoria]
GO
ALTER TABLE [dbo].[CursoObjetivo]  WITH CHECK ADD  CONSTRAINT [FK_CursoObjetivo_Curso] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Curso] ([CursoID])
GO
ALTER TABLE [dbo].[CursoObjetivo] CHECK CONSTRAINT [FK_CursoObjetivo_Curso]
GO
ALTER TABLE [dbo].[Entrega]  WITH CHECK ADD  CONSTRAINT [FK_Entrega_Examen] FOREIGN KEY([ExamenID])
REFERENCES [dbo].[Examen] ([ExamenID])
GO
ALTER TABLE [dbo].[Entrega] CHECK CONSTRAINT [FK_Entrega_Examen]
GO
ALTER TABLE [dbo].[Entrega]  WITH CHECK ADD  CONSTRAINT [FK_Entrega_Inscripcion] FOREIGN KEY([InscripcionID])
REFERENCES [dbo].[Inscripcion] ([InscripcionID])
GO
ALTER TABLE [dbo].[Entrega] CHECK CONSTRAINT [FK_Entrega_Inscripcion]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Curso] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Curso] ([CursoID])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Curso]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Curso] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Curso] ([CursoID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Curso]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Usuario]
GO
ALTER TABLE [dbo].[Leccion]  WITH CHECK ADD  CONSTRAINT [FK_Leccion_Modulo] FOREIGN KEY([ModuloID])
REFERENCES [dbo].[Modulo] ([ModuloID])
GO
ALTER TABLE [dbo].[Leccion] CHECK CONSTRAINT [FK_Leccion_Modulo]
GO
ALTER TABLE [dbo].[Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Modulo_Curso] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Curso] ([CursoID])
GO
ALTER TABLE [dbo].[Modulo] CHECK CONSTRAINT [FK_Modulo_Curso]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Inscripcion] FOREIGN KEY([InscripcionID])
REFERENCES [dbo].[Inscripcion] ([InscripcionID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Inscripcion]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Usuario]
GO
ALTER TABLE [dbo].[ProgresoLeccion]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Inscripcion] FOREIGN KEY([InscripcionID])
REFERENCES [dbo].[Inscripcion] ([InscripcionID])
GO
ALTER TABLE [dbo].[ProgresoLeccion] CHECK CONSTRAINT [FK_Progreso_Inscripcion]
GO
ALTER TABLE [dbo].[ProgresoLeccion]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Leccion] FOREIGN KEY([LeccionID])
REFERENCES [dbo].[Leccion] ([LeccionID])
GO
ALTER TABLE [dbo].[ProgresoLeccion] CHECK CONSTRAINT [FK_Progreso_Leccion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_EstadosCuenta] FOREIGN KEY([EstadoCuentaID])
REFERENCES [dbo].[EstadosCuenta] ([EstadoCuentaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuarios_EstadosCuenta]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[UsuarioTokens]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTokens_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[UsuarioTokens] CHECK CONSTRAINT [FK_UsuarioTokens_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCategoria]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AltaCategoria]
@nombre varchar(50)
AS
INSERT INTO Categoria (NombreCategoria,EstaActivo)
VALUES (@nombre,1);
SELECT SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. ACTUALIZAR SP DE ALTA (Insertar los nuevos campos)
CREATE PROCEDURE [dbo].[sp_AltaCurso] (
    @CategoriaID INT,
    @Titulo NVARCHAR(255),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @UrlImagenPortada NVARCHAR(MAX),
    @ModalidadPago NVARCHAR(50),
    @DuracionAccesoDias INT, 
    @Publicado BIT, 
    @EstaActivo BIT,
    -- Nuevos Parametros
    @NivelDificultad NVARCHAR(50),
    @Idioma NVARCHAR(50),
    @ConCertificado BIT
)
AS
BEGIN
    INSERT INTO CURSO (
        CategoriaID, Titulo, Descripcion, Precio, UrlImagenPortada, 
        ModalidadPago, DuracionAccesoDias, Publicado, EstaActivo,
        NivelDificultad, Idioma, ConCertificado
    )
    VALUES (
        @CategoriaID, @Titulo, @Descripcion, @Precio, @UrlImagenPortada, 
        @ModalidadPago, @DuracionAccesoDias, @Publicado, 1, -- Forzamos activo al crear
        @NivelDificultad, @Idioma, @ConCertificado
    )
    SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaLeccion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AltaLeccion] 
@ModuloID INT,
@Titulo NVARCHAR(255),
@TipoMaterial NVARCHAR(50),
@URLRecurso NVARCHAR(MAX)
AS
BEGIN
	INSERT INTO Leccion (ModuloID,Titulo,TipoMaterial,URLRecurso,EstaActivo)
	VALUES (@ModuloID,@Titulo,@TipoMaterial,@URLRecurso,1)
	SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Categoria_BuscarPorID]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_BuscarPorID]
    @ID INT
AS
BEGIN
    SELECT CategoriaID, NombreCategoria, EstaActivo
    FROM Categoria
    WHERE CategoriaID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categoria_Eliminar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Categoria_Eliminar]
    @CategoriaID int
AS
BEGIN
    
    UPDATE Categoria
    SET EstaActivo = 0
    WHERE CategoriaID = @CategoriaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categoria_Existe]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Categoria_Existe]
    @NombreCategoria varchar(50)
AS
BEGIN
    SELECT COUNT(*) 
    FROM Categoria 
    WHERE NombreCategoria = @NombreCategoria AND EstaActivo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categoria_ListarActivas]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Categoria_ListarActivas]
AS
BEGIN
    SELECT CategoriaID, NombreCategoria, EstaActivo
    FROM Categoria
    WHERE EstaActivo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categoria_Modificar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Categoria_Modificar]
    @CategoriaID int,
    @NombreCategoria varchar(50)
AS
BEGIN
    UPDATE Categoria
    SET NombreCategoria = @NombreCategoria
    WHERE CategoriaID = @CategoriaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Certificado_BuscarPorInscripcion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Certificado_BuscarPorInscripcion]
    @InscripcionID INT
AS
BEGIN
    SELECT CertificadoID, InscripcionID, FechaEmision, UrlArchivoCertificado
    FROM Certificado
    WHERE InscripcionID = @InscripcionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Certificado_Generar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Certificado_Generar]
    @InscripcionID INT,
    @UrlArchivo VARCHAR(MAX)
AS
BEGIN
   
    IF EXISTS (SELECT 1 FROM Certificado WHERE InscripcionID = @InscripcionID)
    BEGIN
        
        UPDATE Certificado 
        SET UrlArchivoCertificado = @UrlArchivo, 
            FechaEmision = GETDATE()
        WHERE InscripcionID = @InscripcionID
    END
    ELSE
    BEGIN
        
        INSERT INTO Certificado (InscripcionID, FechaEmision, UrlArchivoCertificado)
        VALUES (@InscripcionID, GETDATE(), @UrlArchivo)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Certificado_ListarPorUsuario]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Certificado_ListarPorUsuario]
    @UsuarioID INT
AS
BEGIN
    SELECT 
        Cert.CertificadoID,
        Cert.FechaEmision,
        Cert.UrlArchivoCertificado,
        
        
        C.Titulo AS NombreCurso,
        ISNULL(C.UrlImagenPortada, '') AS UrlImagenCurso
    FROM Certificado Cert
    INNER JOIN Inscripcion I ON Cert.InscripcionID = I.InscripcionID
    INNER JOIN Curso C ON I.CursoID = C.CursoID
    WHERE I.UsuarioID = @UsuarioID
    ORDER BY Cert.FechaEmision DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_ActualizarImagen]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Curso_ActualizarImagen]
    @CursoID int,
    @UrlImagenPortada varchar(max)
AS
BEGIN
    UPDATE Curso 
    SET UrlImagenPortada = @UrlImagenPortada 
    WHERE CursoID = @CursoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_BuscarPorID]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Curso_BuscarPorID]
    @ID INT
AS
BEGIN
    SELECT 
        C.CursoID,
        C.CategoriaID,
        Cat.NombreCategoria,
        C.Titulo,
        C.Descripcion,
        C.UrlImagenPortada,
        C.Precio,
        C.ModalidadPago,
        C.DuracionAccesoDias,
        C.Publicado,
        C.EstaActivo,
       
        C.NivelDificultad,
        C.Idioma,
        C.ConCertificado
    FROM 
        Curso AS C 
    INNER JOIN 
        Categoria AS Cat ON C.CategoriaID = Cat.CategoriaID 
    WHERE 
        C.CursoID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_CambiarPublicado]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Curso_CambiarPublicado]
    @CursoID INT,
    @Publicado BIT
AS
BEGIN
    UPDATE Curso 
    SET Publicado = @Publicado 
    WHERE CursoID = @CursoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_ContarPorCategoria]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Curso_ContarPorCategoria]
    @CategoriaID INT
AS
BEGIN
    
    SELECT COUNT(*) 
    FROM Curso 
    WHERE CategoriaID = @CategoriaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_Filtrar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Curso_Filtrar]
    @Titulo NVARCHAR(255) = NULL,
    @CategoriaID INT = 0
AS
BEGIN
    SELECT 
        C.CursoID,
        C.CategoriaID,
        Cat.NombreCategoria,
        C.Titulo,
        C.Descripcion,
        C.UrlImagenPortada,
        C.Precio,
        C.ModalidadPago,
        C.DuracionAccesoDias,
        C.Publicado,
        C.EstaActivo,
       
        C.NivelDificultad,
        C.Idioma,
        C.ConCertificado
    FROM 
        Curso AS C 
    INNER JOIN 
        Categoria AS Cat ON C.CategoriaID = Cat.CategoriaID 
    WHERE 
        C.EstaActivo = 1
        AND (@Titulo IS NULL OR C.Titulo LIKE '%' + @Titulo + '%')
        AND (@CategoriaID = 0 OR C.CategoriaID = @CategoriaID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Curso_ListarActivos]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Curso_ListarActivos]
AS
BEGIN
    SELECT 
        C.CursoID,              
        C.CategoriaID,
        Cat.NombreCategoria,
        C.Titulo,
        C.Descripcion,
        C.Precio,
        C.UrlImagenPortada,
        C.ModalidadPago,
        C.DuracionAccesoDias,
        C.Publicado,
        C.EstaActivo,
        
        C.NivelDificultad,
        C.Idioma,
        C.ConCertificado
    FROM 
        Curso AS C 
    INNER JOIN 
        Categoria AS Cat ON C.CategoriaID = Cat.CategoriaID 
    WHERE 
        C.EstaActivo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CursoObjetivo_Alta]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CursoObjetivo_Alta]
    @CursoID INT,
    @Descripcion NVARCHAR(300)
AS
BEGIN
    INSERT INTO CursoObjetivo (CursoID, Descripcion)
    VALUES (@CursoID, @Descripcion)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CursoObjetivo_Eliminar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CursoObjetivo_Eliminar]
    @ObjetivoID INT
AS
BEGIN
    DELETE FROM CursoObjetivo 
    WHERE ObjetivoID = @ObjetivoID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CursoObjetivo_Listar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CursoObjetivo_Listar]
    @CursoID INT
AS
BEGIN
    SELECT ObjetivoID, CursoID, Descripcion 
    FROM CursoObjetivo
    WHERE CursoID = @CursoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CursoObjetivo_ListarPorCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CursoObjetivo_ListarPorCurso]
    @CursoID INT
AS
BEGIN
    SELECT ObjetivoID, Descripcion 
    FROM CursoObjetivo
    WHERE CursoID = @CursoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_Completo]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboard_Completo]
AS
BEGIN
   
    SELECT 
        (SELECT COUNT(*) FROM Curso WHERE EstaActivo = 1) AS TotalCursos,
        (SELECT COUNT(*) FROM Usuario WHERE RolID = (SELECT RolID FROM Roles WHERE NombreRol = 'Participante') AND EstaActivo = 1) AS TotalAlumnos,
        (SELECT COUNT(*) FROM Pago WHERE Estado = 'Pendiente') AS PagosPendientes,
        (SELECT ISNULL(SUM(Monto), 0) FROM Pago WHERE Estado = 'Aprobado') AS IngresosTotales;

    
    SELECT TOP 3 
        C.Titulo,
        COUNT(I.InscripcionID) AS Inscripciones
    FROM Inscripcion I
    INNER JOIN Curso C ON C.CursoID = I.CursoID
    GROUP BY C.Titulo
    ORDER BY Inscripciones DESC;

    
    SELECT TOP 5 
        U.Email,
        ISNULL(P.Nombre, '') AS Nombre,
        ISNULL(P.Apellido, '') AS Apellido,
        U.FechaCreacion
    FROM Usuario U
    INNER JOIN Perfil P ON P.UsuarioID = U.UsuarioID
    ORDER BY U.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_Listas]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboard_Listas]
AS
BEGIN
    -- TOP CURSOS POPULARES
    SELECT TOP 3 
        C.Titulo,
        COUNT(I.InscripcionID) AS Inscripciones
    FROM Inscripcion I
    INNER JOIN Curso C ON C.CursoID = I.CursoID
    GROUP BY C.Titulo
    ORDER BY Inscripciones DESC;

    -- ULTIMOS USUARIOS REGISTRADOS
    SELECT TOP 5 
        U.Email,
        ISNULL(P.Nombre, '') AS Nombre,
        ISNULL(P.Apellido, '') AS Apellido,
        U.FechaCreacion
    FROM Usuario U
    INNER JOIN Perfil P ON P.UsuarioID = U.UsuarioID
    ORDER BY U.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_ObtenerMetricas]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboard_ObtenerMetricas]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Curso WHERE EstaActivo = 1) AS TotalCursos,

        (SELECT COUNT(*) 
         FROM Usuario 
         WHERE RolID = (SELECT RolID FROM Roles WHERE NombreRol = 'Participante') 
           AND EstaActivo = 1) AS TotalAlumnos,

        (SELECT COUNT(*) FROM Pago WHERE Estado = 'Pendiente') AS PagosPendientes,

        (SELECT ISNULL(SUM(Monto), 0) FROM Pago WHERE Estado = 'Aprobado') AS IngresosTotales
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminacionLogicaCategoria]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminacionLogicaCategoria] 
@id int
as
update Categoria set EstaActivo = 0 
Where CategoriaID = @id;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminacionLogicaCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminacionLogicaCurso] @CursoID INT
AS
BEGIN
    UPDATE Curso SET EstaActivo = 0
    WHERE CursoID = @CursoID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_Corregir]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_Entrega_Corregir]
    @EntregaID int,
    @Estado varchar(20),      
    @Devolucion varchar(1000) 
AS
BEGIN
    UPDATE Entrega 
    SET Estado = @Estado, 
        DevolucionProfesor = @Devolucion
    WHERE EntregaID = @EntregaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_Crear]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_Entrega_Crear]
    @InscripcionID int,
    @ExamenID int,
    @UrlResolucion varchar(500)
AS
BEGIN
    INSERT INTO Entrega (InscripcionID, ExamenID, UrlResolucion, FechaEntrega, Estado)
    VALUES (@InscripcionID, @ExamenID, @UrlResolucion, GETDATE(), 'Pendiente')
    
    SELECT SCOPE_IDENTITY(); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_ListarAdmin]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Entrega_ListarAdmin]
    @Estado VARCHAR(20) = NULL 
AS
BEGIN
    SELECT 
        E.EntregaID, 
        E.InscripcionID,
        E.FechaEntrega, 
        E.UrlResolucion, 
        E.Estado,
        E.DevolucionProfesor, 
        
        U.Email as AlumnoEmail, 
        ISNULL(P.Nombre, 'Sin Nombre') + ' ' + ISNULL(P.Apellido, '') as AlumnoNombre,
        C.Titulo as CursoTitulo
    FROM Entrega E
    INNER JOIN Inscripcion I ON E.InscripcionID = I.InscripcionID
    INNER JOIN Usuario U ON I.UsuarioID = U.UsuarioID
    LEFT JOIN Perfil P ON U.UsuarioID = P.UsuarioID
    INNER JOIN Curso C ON I.CursoID = C.CursoID
    WHERE 
        (@Estado IS NULL OR E.Estado = @Estado)
    ORDER BY 
       
        CASE WHEN E.Estado = 'Pendiente' THEN 0 ELSE 1 END,
        E.FechaEntrega DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_ListarPendientes]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Entrega_ListarPendientes]
AS
BEGIN
    SELECT 
        E.EntregaID, 
        E.InscripcionID, 
        E.FechaEntrega, 
        E.UrlResolucion, 
        E.Estado,
        U.Email as AlumnoEmail, 
        ISNULL(P.Nombre, 'Sin Nombre') + ' ' + ISNULL(P.Apellido, '') as AlumnoNombre,
        C.Titulo as CursoTitulo
    FROM Entrega E
    INNER JOIN Inscripcion I ON E.InscripcionID = I.InscripcionID
    INNER JOIN Usuario U ON I.UsuarioID = U.UsuarioID
    LEFT JOIN Perfil P ON U.UsuarioID = P.UsuarioID
    INNER JOIN Curso C ON I.CursoID = C.CursoID
    WHERE E.Estado = 'Pendiente'
    ORDER BY E.FechaEntrega ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_ObtenerPorAlumno]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_Entrega_ObtenerPorAlumno]
    @InscripcionID INT
AS
BEGIN
   
    SELECT TOP 1 
        E.EntregaID, 
        E.ExamenID, 
        E.UrlResolucion, 
        E.FechaEntrega, 
        E.Estado, 
        E.DevolucionProfesor
    FROM Entrega E
    WHERE E.InscripcionID = @InscripcionID
    ORDER BY E.FechaEntrega DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Entrega_ObtenerPorInscripcion]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_Entrega_ObtenerPorInscripcion]
    @InscripcionID INT
AS
BEGIN
    SELECT TOP 1 
        EntregaID, 
        ExamenID, 
        InscripcionID, 
        UrlResolucion, 
        FechaEntrega, 
        Estado, 
        DevolucionProfesor
    FROM Entrega
    WHERE InscripcionID = @InscripcionID
    ORDER BY FechaEntrega DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Examen_Guardar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Examen_Guardar]
    @CursoID int,
    @UrlConsigna varchar(500)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Examen WHERE CursoID = @CursoID AND EstaActivo = 1)
    BEGIN
        UPDATE Examen SET UrlConsigna = @UrlConsigna WHERE CursoID = @CursoID AND EstaActivo = 1
    END
    ELSE
    BEGIN
        INSERT INTO Examen (CursoID, UrlConsigna, EstaActivo) VALUES (@CursoID, @UrlConsigna, 1)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Examen_ObtenerPorCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_Examen_ObtenerPorCurso]
    @CursoID int
AS
BEGIN

    SELECT TOP 1 ExamenID, CursoID, UrlConsigna, EstaActivo 
    FROM Examen 
    WHERE CursoID = @CursoID AND EstaActivo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_ActualizarEstado]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Inscripcion_ActualizarEstado]
    @InscripcionID INT,
    @Estado VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    
    UPDATE Inscripcion 
    SET Estado = @Estado 
    WHERE InscripcionID = @InscripcionID;

   
    IF @Estado = 'Aprobado'
    BEGIN
        DECLARE @CursoID INT;
        DECLARE @DuracionDias INT;

        SELECT @CursoID = CursoID FROM Inscripcion WHERE InscripcionID = @InscripcionID;
        SELECT @DuracionDias = DuracionAccesoDias FROM Curso WHERE CursoID = @CursoID;

        
        IF @DuracionDias > 0
        BEGIN
            UPDATE Inscripcion 
            SET FechaExpiracion = DATEADD(DAY, @DuracionDias, GETDATE())
            WHERE InscripcionID = @InscripcionID;
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_Alta]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Inscripcion_Alta] 
    @IdUsuario INT,
    @IdCurso INT,
    @FechaInscripcion DATETIME,
    @FechaExpiracion DATETIME,
    @Estado VARCHAR(20) 
AS
BEGIN
    INSERT INTO Inscripcion (UsuarioID, CursoID, FechaInscripcion, FechaExpiracion, Estado)
    VALUES (@IdUsuario, @IdCurso, @FechaInscripcion, @FechaExpiracion, @Estado)
    SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_ContarPorCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Inscripcion_ContarPorCurso]
    @CursoID INT
AS
BEGIN
    SELECT COUNT(*) FROM Inscripcion WHERE CursoID = @CursoID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_ListarPorUsuario]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Inscripcion_ListarPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        I.InscripcionID, I.UsuarioID, I.CursoID, I.FechaInscripcion, I.FechaExpiracion, I.Estado,
        C.Titulo, C.UrlImagenPortada, C.DuracionAccesoDias, C.NivelDificultad, C.Idioma, C.ConCertificado
    FROM Inscripcion I
    INNER JOIN Curso C ON I.CursoID = C.CursoID
    WHERE I.UsuarioID = @IdUsuario
      AND I.Estado = 'Aprobado' 
      AND (I.FechaExpiracion >= GETDATE() OR C.DuracionAccesoDias = 0) 
    ORDER BY I.FechaInscripcion DESC
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_Obtener]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Inscripcion_Obtener]
    @IdUsuario INT,
    @IdCurso INT
AS
BEGIN
    SELECT InscripcionID,UsuarioID,CursoID,FechaInscripcion,FechaExpiracion,Estado
    FROM Inscripcion
    WHERE UsuarioID = @IdUsuario AND CursoID = @IdCurso;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Inscripcion_ObtenerActiva]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Inscripcion_ObtenerActiva]
    @IdUsuario INT,
    @IdCurso INT
AS
BEGIN
    SELECT 
        I.InscripcionID, I.UsuarioID, I.CursoID, I.FechaInscripcion, I.FechaExpiracion, I.Estado
    FROM Inscripcion I
    INNER JOIN Curso C ON I.CursoID = C.CursoID 
    WHERE I.UsuarioID = @IdUsuario 
      AND I.CursoID = @IdCurso
      AND I.Estado IN ('Aprobado', 'Pendiente')
     
      AND (I.FechaExpiracion >= GETDATE() OR C.DuracionAccesoDias = 0); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_ActualizarOrden]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Leccion_ActualizarOrden]
    @LeccionID int,
    @Orden int
AS
BEGIN
    UPDATE Leccion 
    SET Orden = @Orden 
    WHERE LeccionID = @LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_Alta]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Leccion_Alta]
    @ModuloID int,
    @Titulo varchar(150),
    @Orden int,
    @TipoMaterial varchar(50),
    @URLRecurso varchar(500) = NULL,
    @UrlDocumento varchar(500) = NULL,
    @DuracionMinutos int,
    @Descripcion nvarchar(MAX) = NULL 
AS
BEGIN
    INSERT INTO Leccion (ModuloID, Titulo, Orden, TipoMaterial, URLRecurso, UrlDocumento, DuracionMinutos, EstaActivo, Descripcion)
    VALUES (@ModuloID, @Titulo, @Orden, @TipoMaterial, @URLRecurso, @UrlDocumento, @DuracionMinutos, 1, @Descripcion)
    
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_Eliminar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Leccion_Eliminar]
    @LeccionID int
AS
BEGIN
   
    UPDATE Leccion 
    SET EstaActivo = 0, 
        Orden = 0 
    WHERE LeccionID = @LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_ListarPorModulo]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Leccion_ListarPorModulo]
    @ModuloID int
AS
BEGIN
    SELECT LeccionID, ModuloID, Titulo, Orden, TipoMaterial, URLRecurso, UrlDocumento, DuracionMinutos, EstaActivo, Descripcion
    FROM Leccion 
    WHERE ModuloID = @ModuloID AND EstaActivo = 1
    ORDER BY Orden ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_Modificar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Leccion_Modificar]
    @LeccionID int,
    @ModuloID int, 
    @Titulo varchar(150),
    @Orden int,
    @TipoMaterial varchar(50),
    @URLRecurso varchar(500) = NULL,
    @UrlDocumento varchar(500) = NULL,
    @DuracionMinutos int,
    @Descripcion nvarchar(MAX) = NULL
AS
BEGIN
    UPDATE Leccion 
    SET ModuloID = @ModuloID,
        Titulo = @Titulo, 
        Orden = @Orden, 
        TipoMaterial = @TipoMaterial, 
        URLRecurso = @URLRecurso, 
        UrlDocumento = @UrlDocumento, 
        DuracionMinutos = @DuracionMinutos,
        Descripcion = @Descripcion
    WHERE LeccionID = @LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_Obtener]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Leccion_Obtener]
    @LeccionID int
AS
BEGIN
    SELECT LeccionID, ModuloID, Titulo, Orden, TipoMaterial, URLRecurso, DuracionMinutos, EstaActivo, UrlDocumento, Descripcion
    FROM Leccion 
    WHERE LeccionID = @LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Leccion_Reordenar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Este se usa después de borrar para que no queden saltos (1, 3, 4 -> 1, 2, 3)
CREATE PROCEDURE [dbo].[sp_Leccion_Reordenar]
    @ModuloID int
AS
BEGIN
    WITH LeccionesOrdenadas AS (
        SELECT 
            LeccionID, 
            ROW_NUMBER() OVER (ORDER BY Orden ASC) AS NuevoOrden
        FROM Leccion
        WHERE ModuloID = @ModuloID AND EstaActivo = 1
    )
    UPDATE L
    SET L.Orden = LO.NuevoOrden
    FROM Leccion L
    INNER JOIN LeccionesOrdenadas LO ON L.LeccionID = LO.LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCategoria]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarCategoria]
@Nombre varchar(50),
@ID int
AS
UPDATE Categoria SET NombreCategoria = @Nombre
WHERE CategoriaID = @ID; 
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ModificarCurso] (
    @CursoID INT,
    @CategoriaID INT,
    @Titulo NVARCHAR(255),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @UrlImagenPortada NVARCHAR(MAX),
    @ModalidadPago NVARCHAR(50),
    @DuracionAccesoDias INT, 
    @Publicado BIT, 
    @EstaActivo BIT,
   
    @NivelDificultad NVARCHAR(50),
    @Idioma NVARCHAR(50),
    @ConCertificado BIT
)
AS
BEGIN
    UPDATE Curso SET    
        CategoriaID = @CategoriaID,
        Titulo = @Titulo,
        Descripcion = @Descripcion,
        Precio = @Precio,
        UrlImagenPortada = @UrlImagenPortada,
        ModalidadPago = @ModalidadPago,
        DuracionAccesoDias = @DuracionAccesoDias,
        Publicado= @Publicado,
        EstaActivo = @EstaActivo,
        -- Actualizamos los nuevos
        NivelDificultad = @NivelDificultad,
        Idioma = @Idioma,
        ConCertificado = @ConCertificado
    WHERE CursoID = @CursoID
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_ActualizarOrden]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Modulo_ActualizarOrden]
    @ModuloID int,
    @Orden int
AS
BEGIN
    UPDATE Modulo
    SET Orden = @Orden
    WHERE ModuloID = @ModuloID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_Alta]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Modulo_Alta]
    @CursoID int,
    @NombreModulo varchar(100),
    @Orden int
AS
BEGIN
    INSERT INTO Modulo (CursoID, NombreModulo, Orden, EstaActivo)
    VALUES (@CursoID, @NombreModulo, @Orden, 1);
    SELECT SCOPE_IDENTITY(); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_Eliminar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulo_Eliminar]
    @ModuloID int
AS
BEGIN
    
    UPDATE Modulo 
    SET EstaActivo = 0, 
        Orden = 0 
    WHERE ModuloID = @ModuloID

    -- Baja en cascada de las lecciones
    UPDATE Leccion 
    SET EstaActivo = 0 
    WHERE ModuloID = @ModuloID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_ListarPorCurso]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulo_ListarPorCurso]
    @CursoID int
AS
BEGIN
    SELECT 
        M.ModuloID, 
        M.CursoID, 
        M.NombreModulo, 
        M.Orden, 
        M.EstaActivo,
       
        (SELECT COUNT(*) FROM Leccion L WHERE L.ModuloID = M.ModuloID AND L.EstaActivo = 1) as CantidadLecciones
    FROM Modulo M
    WHERE M.CursoID = @CursoID AND M.EstaActivo = 1
    ORDER BY M.Orden ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_Modificar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Modificar Módulo
CREATE PROCEDURE [dbo].[sp_Modulo_Modificar]
    @ModuloID int,
    @NombreModulo varchar(100),
    @Orden int
AS
BEGIN
    UPDATE Modulo 
    SET NombreModulo = @NombreModulo, Orden = @Orden
    WHERE ModuloID = @ModuloID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_Obtener]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Buscar Módulo por ID
CREATE PROCEDURE [dbo].[sp_Modulo_Obtener]
    @ModuloID int
AS
BEGIN
    SELECT ModuloID, CursoID, NombreModulo, Orden, EstaActivo 
    FROM Modulo WHERE ModuloID = @ModuloID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Modulo_Reordenar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulo_Reordenar]
    @CursoID int
AS
BEGIN
    -- (Tabla temporal en memoria) para calcular el nuevo orden
    WITH MulosOrdenados AS (
        SELECT 
            ModuloID, 
            ROW_NUMBER() OVER (ORDER BY Orden ASC) AS NuevoOrden
        FROM Modulo
        WHERE CursoID = @CursoID AND EstaActivo = 1
    )
    -- Actualiza la tabla real cruzándola con la temporal
    UPDATE M
    SET M.Orden = MO.NuevoOrden
    FROM Modulo M
    INNER JOIN MulosOrdenados MO ON M.ModuloID = MO.ModuloID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ActualizarComprobante]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Pago_ActualizarComprobante]
    @InscripcionID int,
    @UrlComprobante varchar(500),
    @MetodoPago varchar(50),
    @Estado varchar(20) 
AS
BEGIN
    SET NOCOUNT ON;

   
    UPDATE Pago
    SET UrlComprobante = @UrlComprobante,
        MetodoPago = @MetodoPago,
        Estado = @Estado,
        FechaPago = GETDATE(),
        Observaciones = NULL 
    WHERE InscripcionID = @InscripcionID;

    
    UPDATE Inscripcion
    SET Estado = @Estado
    WHERE InscripcionID = @InscripcionID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ActualizarEstado]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pago_ActualizarEstado]
    @PagoID int,
    @Estado varchar(20), -- 'Aprobado', 'Rechazado'
    @Observaciones varchar(500)
AS
BEGIN
    DECLARE @InscripcionID int;
    SELECT @InscripcionID = InscripcionID FROM Pago WHERE PagoID = @PagoID;
    
   
    UPDATE Pago 
    SET Estado = @Estado, Observaciones = @Observaciones
    WHERE PagoID = @PagoID;
    
    
    EXEC [dbo].[sp_Inscripcion_ActualizarEstado] @InscripcionID = @InscripcionID, @Estado = @Estado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_Filtrar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--filtrado de Pagos
CREATE PROCEDURE [dbo].[sp_Pago_Filtrar]
    @Estado VARCHAR(50) = NULL,
    @Busqueda VARCHAR(100) = NULL
AS
BEGIN
    SELECT 
        P.PagoID, P.Monto, P.MetodoPago, P.Estado,
        P.UrlComprobante, P.FechaPago, P.Observaciones,
        I.InscripcionID,
        U.Email AS EmailAlumno, 
        C.Titulo AS TituloCurso
    FROM Pago P
    INNER JOIN Inscripcion I ON P.InscripcionID = I.InscripcionID
    INNER JOIN Usuario U ON U.UsuarioID = I.UsuarioID
    INNER JOIN Curso C ON C.CursoID = I.CursoID
    WHERE 
        -- Filtro de Estado (Si es NULL, trae todos)
        (@Estado IS NULL OR P.Estado = @Estado)
        AND
        -- Filtro de Búsqueda (Si es NULL, ignora. Si tiene texto, busca en Email o Título)
        (@Busqueda IS NULL OR @Busqueda = '' OR 
         U.Email LIKE '%' + @Busqueda + '%' OR 
         C.Titulo LIKE '%' + @Busqueda + '%')
    ORDER BY 
        P.FechaPago DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ListarAdmin]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Pago_ListarAdmin]
    @Estado varchar(20) = NULL 
AS
BEGIN
    SELECT P.PagoID, P.Monto, P.MetodoPago, P.Estado,
           P.UrlComprobante, P.FechaPago, P.Observaciones,
           I.InscripcionID,
           U.Email AS EmailAlumno, 
           C.Titulo AS TituloCurso
    FROM Pago P
    INNER JOIN Inscripcion I ON P.InscripcionID = I.InscripcionID
    INNER JOIN Usuario U ON U.UsuarioID = I.UsuarioID
    INNER JOIN Curso C ON C.CursoID = I.CursoID
    WHERE 
        (@Estado IS NULL OR @Estado = '' OR P.Estado = @Estado)
    ORDER BY 
        CASE WHEN P.Estado = 'Pendiente' THEN 0 ELSE 1 END ASC,
        P.FechaPago DESC 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ListarPendientes]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pago_ListarPendientes]
AS
BEGIN
SELECT  P.PagoID, P.Monto, P.MetodoPago, P.Estado,
        P.UrlComprobante, P.FechaPago, P.Observaciones,
        U.Email, C.Titulo,
        I.FechaExpiracion 
FROM Pago P
INNER JOIN Inscripcion I ON P.InscripcionID = I.InscripcionID
INNER JOIN Usuario U ON U.UsuarioID = I.UsuarioID
INNER JOIN Curso C ON C.CursoID = I.CursoID
WHERE P.Estado = 'Pendiente'
ORDER BY P.FechaPago ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ListarPorUsuario]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Pago_ListarPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        P.PagoID, 
        P.Monto, 
        P.MetodoPago, 
        P.Estado,
        P.UrlComprobante, 
        P.FechaPago, 
        P.Observaciones,
        
        I.InscripcionID, 
        
        C.CursoID,
        C.Titulo,
        C.UrlImagenPortada,
        
        U.Email  
    FROM Pago P
    INNER JOIN Inscripcion I ON P.InscripcionID = I.InscripcionID
    INNER JOIN Curso C ON I.CursoID = C.CursoID
    INNER JOIN Usuario U ON I.UsuarioID = U.UsuarioID
    WHERE I.UsuarioID = @IdUsuario
    ORDER BY P.FechaPago DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ListarTodos]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Pago_ListarTodos]
AS
BEGIN
    SELECT 
        P.PagoID,
        P.Monto,
        P.MetodoPago,
        P.Estado,
        P.UrlComprobante,
        P.FechaPago,
        P.Observaciones,
        I.InscripcionID,
        U.Email,
        C.Titulo
    FROM 
        Pago P
    INNER JOIN 
        Inscripcion I ON P.InscripcionID = I.InscripcionID
    INNER JOIN 
        Usuario U ON I.UsuarioID = U.UsuarioID
    INNER JOIN 
        Curso C ON I.CursoID = C.CursoID
    ORDER BY 
        P.FechaPago DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_ListarTotal]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Pago_ListarTotal]
AS
BEGIN
    SELECT 
        P.PagoID,
        P.Monto,
        P.MetodoPago,
        P.Estado,
        P.UrlComprobante,
        P.FechaPago,
        P.Observaciones,
        I.InscripcionID,
        U.Email,
        C.Titulo
    FROM 
        Pago P
    INNER JOIN 
        Inscripcion I ON P.InscripcionID = I.InscripcionID
    INNER JOIN 
        Usuario U ON I.UsuarioID = U.UsuarioID
    INNER JOIN 
        Curso C ON I.CursoID = C.CursoID
    ORDER BY 
        P.FechaPago DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pago_Registrar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pago_Registrar]
    @InscripcionID int,
    @Monto decimal(18,2), 
    @UrlComprobante varchar(500) = NULL, 
    @MetodoPago varchar(50),
    @Estado varchar(20),
    @FechaPago datetime = NULL,
    @Observaciones varchar(500) = NULL
AS
BEGIN
    INSERT INTO Pago (
        InscripcionID, 
        Monto, 
        UrlComprobante, 
        MetodoPago, 
        Estado, 
        FechaPago, 
        Observaciones
    )
    VALUES (
        @InscripcionID, 
        @Monto, 
        @UrlComprobante, 
        @MetodoPago, 
        @Estado, 
        ISNULL(@FechaPago, GETDATE()), 
        @Observaciones
    )
    
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Progreso_Eliminar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Progreso_Eliminar]
    @InscripcionID INT,
    @LeccionID INT
AS
BEGIN
    DELETE FROM ProgresoLeccion 
    WHERE InscripcionID = @InscripcionID AND LeccionID = @LeccionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Progreso_Listar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Progreso_Listar]
    @InscripcionID INT
AS
BEGIN
    SELECT ProgresoID, InscripcionID, LeccionID, FechaCompletado
    FROM ProgresoLeccion
    WHERE InscripcionID = @InscripcionID 
      AND FechaCompletado IS NOT NULL; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Progreso_Marcar]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Progreso_Marcar]
    @InscripcionID INT,
    @LeccionID INT
AS
BEGIN
    SET NOCOUNT ON;

    --  existe el registro
    IF EXISTS (SELECT 1 FROM ProgresoLeccion WHERE InscripcionID = @InscripcionID AND LeccionID = @LeccionID)
    BEGIN
        -- Si existe, actualiza la fecha 
        UPDATE ProgresoLeccion
        SET FechaCompletado = GETDATE()
        WHERE InscripcionID = @InscripcionID AND LeccionID = @LeccionID;
    END
    ELSE
    BEGIN
        -- Si no existe, inserta el nuevco nuevo
        INSERT INTO ProgresoLeccion (InscripcionID, LeccionID, FechaCompletado)
        VALUES (@InscripcionID, @LeccionID, GETDATE());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_ListarConFiltros]    Script Date: 26/11/2025 13:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_ListarConFiltros]
    @Email VARCHAR(100) = NULL,
    @Nombre VARCHAR(100) = NULL,
    @Apellido VARCHAR(100) = NULL,
    @RolID INT = NULL,
    @EstadoCuentaID INT = NULL,
    @EstaActivo BIT = NULL,
    
    -- Fechas (Rangos)
    @FechaCreacionDesde DATETIME = NULL,
    @FechaCreacionHasta DATETIME = NULL,
    @FechaLoginDesde DATETIME = NULL,
    @FechaLoginHasta DATETIME = NULL,
    @FechaBajaDesde DATETIME = NULL,
    @FechaBajaHasta DATETIME = NULL
AS
BEGIN
    SELECT 
        U.UsuarioID, U.Email, U.PasswordHash, U.EstaActivo, 
        U.FechaCreacion, U.FechaUltimoLogin, U.FechaBaja,
        R.RolID, R.NombreRol,
        E.EstadoCuentaID, E.NombreEstado,
        P.PerfilID, P.Nombre, P.Apellido, P.UrlFotoPerfil, P.Localidad
    FROM Usuario U
    INNER JOIN Roles R ON U.RolID = R.RolID
    INNER JOIN EstadosCuenta E ON U.EstadoCuentaID = E.EstadoCuentaID
    INNER JOIN Perfil P ON U.UsuarioID = P.UsuarioID
    WHERE 
        -- Filtros de Texto (LIKE)
        (@Email IS NULL OR U.Email LIKE '%' + @Email + '%')
        AND (@Nombre IS NULL OR P.Nombre LIKE '%' + @Nombre + '%')
        AND (@Apellido IS NULL OR P.Apellido LIKE '%' + @Apellido + '%')
        
        -- Filtros Exactos (IDs y Booleanos)
        AND (@RolID IS NULL OR U.RolID = @RolID)
        AND (@EstadoCuentaID IS NULL OR U.EstadoCuentaID = @EstadoCuentaID)
        AND (@EstaActivo IS NULL OR U.EstaActivo = @EstaActivo)
        
        -- Filtros de Fecha (Rangos)
        AND (@FechaCreacionDesde IS NULL OR U.FechaCreacion >= @FechaCreacionDesde)
        AND (@FechaCreacionHasta IS NULL OR U.FechaCreacion < DATEADD(DAY, 1, @FechaCreacionHasta)) -- Sumamos 1 día para incluir la fecha fin completa
        
        AND (@FechaLoginDesde IS NULL OR U.FechaUltimoLogin >= @FechaLoginDesde)
        AND (@FechaLoginHasta IS NULL OR U.FechaUltimoLogin < DATEADD(DAY, 1, @FechaLoginHasta))
        
        AND (@FechaBajaDesde IS NULL OR U.FechaBaja >= @FechaBajaDesde)
        AND (@FechaBajaHasta IS NULL OR U.FechaBaja < DATEADD(DAY, 1, @FechaBajaHasta))
    
    ORDER BY U.UsuarioID ASC
END
GO
USE [master]
GO
