<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConexionDB" connectionString="server=100.79.181.21; database=PlataformaCursosDB; user id=equipo9B; password=Equipo9B;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Configuración para Gmail (el Host y Puerto de MailKit) -->
    <add key="Email_SMTP_Server" value="smtp.gmail.com" />
    <add key="Email_SMTP_Port" value="587" />
    <!-- 1. El Gmail nuevo que creaste -->
    <add key="Email_User" value="plataformalms.soporte@gmail.com" />
    <!-- 2. La contraseña de 16 letras (SIN espacios) -->
    <add key="Email_Password" value="sbbwxpfoqojgojzi" />
    <!-- 3. El nombre que querés que vea el usuario (ej. "Plataforma LMS") -->
    <add key="Email_Remitente" value="Plataforma de Cursos" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />

	  <sessionState timeout="2880" />
	  <!-- 🔐 AUTENTICACIÓN POR FORMULARIOS -->

	  <authentication mode="Forms">
		  <forms loginUrl="~/Auth/Loguin.aspx" timeout="2880" slidingExpiration="true" />
	  </authentication>
  </system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>